.library-cards{
    padding-bottom: 42px;
}
.cards__title{
    margin-bottom: 15px;
}
.digital-card__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

    @include media-laptop{
        flex-wrap: wrap;
    }

    @include media-tablet{
        justify-content: center
    }
}
.your-card-block__title{
    @include font(3rem, normal, 400, normal);
    letter-spacing: 0.6;
    text-align: center;
}
.card__title{
    @include font(3rem, 5rem, 400, normal);
    font-family: Forum;
    letter-spacing: 0.6px;
    margin: 0px;
    padding-bottom: 17px;
}
.your-card__border-block{
    padding: 20px 15px 26px 20px;
    border: 3px solid $color-primary;
    box-shadow: 0px 4px 3px #8E8E8E;
}
.your-card__colored-block{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 17px;
    background-color: $color-primary;
    margin-bottom: 24px;
}
.btn-card__container{
    text-align: center;
}
// after authorization /start 
.user-badges__container{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    
}
.user-badge__item{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 35px;
    
    &:last-child{
        margin-right: 0;
    }
}
.badge-title{
font-size: 10px;
line-height: 20px;
}
.badge__counter{
    font-size: 10px;
    font-weight: 400;
line-height: 20px;
}
// after authorization /end 
.input-field{
    width: 520px;
    height: 66px;
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;

    &::placeholder{
        @include font(2.4rem, 5rem, 400, normal);
        letter-spacing: 0.7px;
        color:#8E8E8E;
        padding-left: 15px;
    }
}
.get-card__block{
    display: flex;
    flex-direction: column;
    align-items: end;

    @include media-tablet{
        align-items:center;
    }
}
.get-card__title{
    @include font(3rem, normal, 400, normal);
    font-family: Forum;
    letter-spacing: 0.6px;
    margin-bottom: 15px;

    @include media-tablet{
        margin: 20px 0 ;
        
    }
}
.get-card__descr{
    line-height: 40px;
    text-align: end;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
    width: 456px;

    @include media-tablet{
        width: 600px;
        text-align: center;
    }
}