.shop__title{
    margin-bottom: 45px;
}
.shop__descr{
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
}
.menu__container{
    display: flex;
    justify-content: space-between;
}
.menu__title{
    @include font(4rem, 4rem, normal, normal);
    font-family: Forum;
    color: $color-primary;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 40px;
}
.dessert-title{
    text-align: end;
}
.drinks__list{
    width: 438px;
}
.dessert-title{
    width: 482px;
}
.menu__item{
    display: flex;
    align-items:center;
    justify-content: end;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 40px;
}
.decoration-line{
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: $color-primary;
    margin-right: 53px;
    margin-left: auto;

    &__dessert{
        margin-left: 60px;

    }
}
