
.favorites{
    padding-bottom: 40px;
}
.favorite__text{
    @include font(2.0rem, normal, 700, normal);
    margin-bottom: 40px;
}

.favorites__title{
    margin-bottom: 41px;
}
.favorites__section {
    
    display: none; /* Скроем все секции по умолчанию */
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 40px;
    row-gap: 40px;
    column-gap: 35px;
    @include media-laptop{
        justify-content: center;
    }
}

.winter {
    display: flex; /* Отобразим только секцию с классом .winter */
    opacity: 1; /* Сделаем непрозрачность полной при отображении */
    visibility: visible; /* Покажем секцию */
    transition: opacity 0.9s ease-in-out, visibility 0.9s ease-in-out; /* Анимация */
}

.book__card{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 15px 16px;
    width: 550px;
    height: 555px;

    @include media-tablet{
        height: 555px;
    }
}
.img-book{

    position: absolute;
    left: 388px;
    bottom:-2px;
}
.card-text{
    font-family: Forum;
    @include font(2.0rem, 3.0rem, normal, normal);
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 4px;
    &::after{
        content:"";
        display: block;
        height: 1px;
        width: 60px;
        background-color:$color-primary ;
    }
}
.book__descr{
    @include font(1.5rem, 4.0rem, normal, normal);
    padding-top: 8px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 0px;
    width: 353px;
}
.book__name{
    text-transform: uppercase;
    margin-bottom:0 ;
}
.book__author{
   
    margin-top:1px ;
}