
body{
    margin: 0 auto;
 
    
}
.bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./assets/img/HolidayPlaylist.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); 
    z-index: -1;
    transition: background-image 0.5s ease-in-out;
}
.wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.info p{
    font-size: 30px;
    color: rgb(215, 218, 211);
    font-family: 'Poppins', sans-serif;
    font-style: italic;

}
.info h1{
    /* font-family: ; */
    font-size: 40px;
    color: rgb(127 144 153);
    text-transform: uppercase;
}


.player{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    width: 400px;
    height: 510px;
    background: url(./assets/img/Holiday\ Playlist.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
    border: 5px solid rgb(233, 212, 212);
    transition: background-image 0.5s ease-in-out;

}
.disk{
    width: 260px;
    height: 260px;
    position: relative;
    top: -40px;
    display: block;
    border-radius: 50%;
    background: url(./assets/img/Holiday\ Playlist.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    animation:rotate 10s infinite linear;
    animation-play-state: paused;
    transition: background-image 0.5s ease-in-out;


}
.rotate{
    animation-play-state: running;

}

.disk::after{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
   
    
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.song-slider{
    width: 90%;
    position: relative;
}
.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius:10px;
    background-color:rgba(211, 211, 255, 0.89);
    cursor: pointer;
    overflow: hidden;
}
.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 8px;
    height: 16px;
    border-radius:5px;
    background-color:rgb(32, 31, 31);
    box-shadow: -400px 0 0 400px rgba(105, 86, 86, 0.842);
   
}
.current-time,
.duration-time{
    font-size: 20px;
    color:aliceblue;
}
.duration-time{
    position: absolute;
    right: 0;
}



.btn-controll{
    display: flex;
    align-items: center;
    gap: 10px;
}
button{
    cursor:pointer;
}

button:hover{
    background-color: rgba(253, 252, 252, 0.712);

}
.btn.pause{
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 30%;
    border:none;
}
.btn-play{
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 30%;
    border:none;
}

.btn span{
    position: absolute;
    width: 7px;
    height: 21px;
    left: 24%;
    top:25%;
    border-radius: 5px;
    background-color: rgba(105, 86, 86, 0.842);
    transition: .5s;
    /* clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%); */
}
.btn span:nth-child(2){
    left: 60%;
    transform-origin:center ;
}

.btn-play.pause span:nth-child(2){
    transform: translateY(0%) scaleY(0);
}
.btn-play.pause span:first-child{
    width: 35%;
    left: 53%;
    transform: translate(-50%, 0%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.btn-switch{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 30%;
    border:none;
}
.btn-switch svg{
    width: 20px;
    height: 20px;

}
.volume-btn{
   background-color: transparent;
   border: none;
   width: 15px;
   height: 15px;
}

.volume-btn svg:hover path{
fill: rgba(161, 145, 145, 0.8);
}

.volume-btn:hover{
    background-color:transparent;
}


.volume-controll{
    display: flex;
    width: 20%;
    gap: 10px;
    flex-direction: column;
    align-items:center
}
.footer{
    display: flex;
    align-self: end;
    gap: 20px
}
.rs-link{
    display: inline-flex;
    align-self:end;
}
.rs-ico{
    width: 100px;
    height: 100px;
}
.git-link{
    display: inline-flex;
  align-self:center;
    font-size: 30px;
    color: wheat;
}
.git-link:hover{
    color:brown;
}