.ico-profile__button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 2;


    &:hover .user-ico__svg .logo-path {

        fill: $color-primary;
    }

    .user-ico__svg .logo-path {
        transition: fill 0.3s ease;

    }
    @include media-laptop {
        margin-left: auto;
        padding: 0 68px 0 0;
    }
}
.logo-path{
    transition: fill 0.3s ease;;
}
// arrow slider dtn
.slider__arrow-btn{
    display: none;

    @include media-tablet{
        padding: 0;
        margin-top: 43px;
        display: inline-block;
        background-color: transparent;
        border: none;
        align-self: center;
}
}


// Favorites buttons
.radio-btn__container{
    display: flex;
    justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-bottom: 39px;
@include media-laptop{
    width: 100%;
}
@include media-tablet{
    width: 97%;
}

}
.radio__block{
    position: relative;

}

.real-radio{
    appearance: none;
    position: absolute;
    padding: 5px;

}
.label{
        font-weight: 400;
        padding: 5px 5px 5px 40px;
        &:hover{
            cursor: pointer;
            }


    &::before{
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: #ffff;
        border: 2px solid #000000;
        border-radius: 50%;

        position: absolute;
        top:15%;
        left: 0;


    }
    &::after{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background: #000000;
        border-radius: 50%;

        position: absolute;
        top:34%;
        left: 4%;

        display: none;
    }
  
    
}
.real-radio:checked + .label::after{
    display: block;
}
.real-radio:checked + .label  {
            font-weight: 700;
          }


.btn{
outline: 1px solid #000;
border-radius: 2px;
cursor: pointer;
border:none;

    &:hover{
        background-color:$color-primary;
        outline: 1px solid transparent ;

    }


    &__buy{
    @include font(1rem, normal, 700, normal);
    display: inline-block;
    letter-spacing: 1px;
    color:$text-color-dark;
    padding:8px 24px;
    width: 75px;
    margin-top: auto;

}
   

    // &__buy:hover{
    //     color:$color-primary;
    //     border-color: $color-primary;
    // }


    &__own{
        color:$color-primary;
        border-color: $color-primary;
        border-radius: 4px;
    }
   

    &__card{
    padding: 10px 40px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color:#FFFFFF;

    }
    // &__card:hover{
    //     background-color:$color-primary;
    // }

    &__register{
        @include font(1rem, normal, 700, normal);
        letter-spacing: 1px;
        
    }

    &__sign{
        padding: 8px 15px;
    }
    &__log{
        padding: 8px 20px;
        margin-left: 10px;
    }

}
.btn:active{
    background-color:#675133;
}
// https://www.youtube.com/live/BJENQIX2e2o?feature=share&t=7571




























