.btn{
border: 1px solid $text-color-dark;
border-radius: 2px;
cursor: pointer;

&__buy{
    @include font(1rem, normal, 700, normal);
    display: inline-block;
    letter-spacing: 1px;
    color:$text-color-dark;
    padding:8px 24px;
    width: 75px;
    margin-top: auto;

}
    &__buy:hover{
        color:$color-primary;
        border-color: $color-primary;
    }


&__own{
        color:$color-primary;
        border-color: $color-primary;
        
    }

}
// https://www.youtube.com/live/BJENQIX2e2o?feature=share&t=7571

// Favorites buttons
.radio-btn__container{
    display: flex;
    justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-bottom: 39px;


}
.radio__block{
    position: relative;

}

.real-radio{
    appearance: none;
    position: absolute;
    padding: 5px;

}
.label{
        font-weight: 400;
        padding: 5px 5px 5px 40px;
        &:hover{
            cursor: pointer;
            }


    &::before{
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: #ffff;
        border: 2px solid #000000;
        border-radius: 50%;

        position: absolute;
        top:15%;
        left: 0;


    }
    &::after{
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background: #000000;
        border-radius: 50%;

        position: absolute;
        top:40%;
        left: 4.5%;

        display: none;
    }
  
    
}
.real-radio:checked + .label::after{
    display: block;
}
.real-radio:checked + .label  {
            font-weight: 700;
          }


























